.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #454545;
  border-radius: 0 0 20px 20px;
}
.time-control {
  width: 50%;
  // background: #454545;
  display: flex;
  justify-content: center;
  input {
    width: 100%;
    padding: 1rem 0rem;
    color: #de8c33;
  }

  p {
    padding: 1rem;
  }
}
.play-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 30%;
  // padding-bottom: 30px;
  svg {
    cursor: pointer;
    color: #f7f7f7;
    margin: 10px 20px;
  }
}
